body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}


#content{
    display: flex;
}

nav{
    background: #202020;
    width:19vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}
#content nav .nav-options{
    border-bottom:  2px solid rgb(128, 124, 124);
    width: 100%;
    height: 200px;
    margin-top: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#content nav .nav-options .nav-card-option{
    background: rgba(184, 184, 184, 0.007);
    width: 100%;
    height: 30%;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}


#content nav .nav-options .nav-card-option:hover{
    background: rgba(184, 184, 184, 0.144);
}


#content nav .nav-options2{
    height: 300px;
    margin: 0;
}




main{
    background: black;
    width: 81vw;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    box-sizing: border-box;
    
}


main .video-container{
    width: 250px;
    height: 200px;
    background: rgb(63, 62, 62);
    margin: 6px;
    border-radius: 2px;
    
}

main .video-container .video-photo{
    height: 75%;
    width: 100%;
    background-image: url("https://i.ytimg.com/vi/Sp3dFF-Bts0/maxresdefault.jpg");
    background-position: hidden;
    background-size: 100%;

}
main .video-container .video-info{
    height: 35%;
    width: 100%;
    background: rgb(192, 192, 230);
    display: flex;
}


main .video-container .video-info .icon{
    background: orange;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5px;
    box-sizing: border-box;
}

main .video-container .video-info .icon img{
    width: 65%;
    height: 65%;
    border-radius: 50%;
}

main .video-container .video-info .video-description{
    padding-top: 5px;
    background: rgb(197, 184, 62);
    height: 100%;
    width: 75%;
    box-sizing: border-box;
}


header{
    background: #202020;
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}



.logo-youtube{
    width: 120px;
    height: 50px;
    
    
    background-image: url(youtubelogo.png);
    background-size: cover;
}


.search-bar{
    width: 550px;
    height: 40px;
    background: #111;
    display: flex;
    align-items: center;

}

input{
    background: #111111;
    color: rgb(214, 210, 210);
    width:88%;
    margin: 0;
    height: 85%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

input::placeholder{
    color: rgb(214, 210, 210);
    font-size: 1rem;
}

.search-bar #icon{
    background: rgb(39, 37, 37);
    width: 12%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar #icon img{
    width:50%;
    height: 78%;
}




.menu-bar{
    width: 200px;
    height: 50px;

    display: flex;
    list-style: none;

}

.menu-bar li{
    box-sizing: border-box;
    margin: 2px;
    width: 70px;
    border-radius: 5px;
    background: rgba(206, 29, 6, 0.644);
    display: flex;

    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}


.menu-bar li:hover{
    background: rgba(206, 29, 6, 0.322);

}
